<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-color">General</div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <form [formGroup]="forms">
              <div class="input-group mb-2">
                <div class="form-control">
                  <select
                    id="id_process"
                    class="form-control custom-select"
                    [class.is-invalid]="processNoValido"
                    formControlName="id_process"
                    (change)="changeSelectIdProcess($event)"
                  >
                    <option value="">Seleccione Proceso</option>
                    <option
                      value="{{ item.id }}"
                      *ngFor="let item of lstProcesses"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="form-control">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    [class.is-invalid]="nameNoValido"
                    formControlName="name"
                    placeholder="Ingrese el nombre del examen"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="description">Descripción</label>
                <textarea
                  id="description"
                  class="form-control"
                  [class.is-invalid]="descNoValido"
                  formControlName="description"
                  rows="2"
                ></textarea>
              </div>
            </form>

            <div id="main-panel" class="custom-panel d-none">
              <div class="title-custom-te">
                <h1>
                  Tarea 1: {{ task.name }}
                  <span>
                    <p>{{ task.description }}</p>
                  </span>
                </h1>
              </div>

              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <input
                        type="hidden"
                        id="id_subtask_global"
                        value="{{ subTask.id }}"
                      />

                      <div class="title-custom-te">
                        <h1>
                          Subtarea: {{ subTask.name }}
                          <span>
                            <p>{{ subTask.description }}</p>
                          </span>
                        </h1>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="title-custom-te">
                        <h1>Pámetros:</h1>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="table-responsive animated fadeInLeftBig">
                        <table
                          class="table table-sm table-bordered table-striped"
                        >
                          <thead class="thead-custom">
                            <tr>
                              <th class="text-center">Nombre</th>
                              <th class="text-center">Tipo</th>
                              <th class="text-center">Opcional</th>
                              <th class="text-center">Valor</th>
                              <th class="text-center"></th>
                            </tr>
                          </thead>
                          <tbody class="tbody-custom">
                            <tr *ngFor="let param of lstInputParams">
                              <td class="text-center">{{ param.name }}</td>
                              <td class="text-center">{{ param.type }}</td>
                              <td class="text-center">
                                {{ param.optional === 1 ? "Si" : "No" }}
                              </td>
                              <td class="text-center">
                                <div class="form-outline">
                                  <input
                                    class="form-control"
                                    id="param_{{ param.id }}"
                                    type="{{ param.type_tag }}"
                                    value="{{
                                      param.optional === 1
                                        ? param.default_value
                                        : param.value
                                    }}"
                                  />
                                  <span
                                    class="icon-info-custome fa fas fa-info error-icon-custom d-none"
                                  ></span>
                                </div>
                              </td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-outline-success"
          [disabled]="lstInputParams.length == 0"
          style="border-radius: 10px"
          (click)="newSubTaskExam()"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          style="border-radius: 10px"
          (click)="sendToPreviusPage()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
