

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <!-- <h1>404</h1> -->
            <h3 class="text-uppercase mt-5">Página no encontrada !</h3>
            <a routerLink="/dashboard" class="btn btn-dark btn-rounded button-error">Inicio</a> 
        </div>
        <footer class="footer text-center">
            © {{ year }} Admin Pro.
        </footer>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->