<div class="container-fluid cf-custom">
  <div class="row">
    <div class="col-lg-12 col-xlg-12 text-center">
      <div class="table-responsive mt-3 animated fadeInLeftBig">
        <table class="table table-sm table-bordered table-striped">
          <thead class="thead-custom">
            <tr>
              <th>Id</th>
              <th class="text-center">Examen</th>
              <th class="text-center">Paciente</th>
              <th class="text-center">Tarea actual</th>
              <th class="text-center">Modificado</th>
              <th scope="col">
                <span class="span-title-actions">Acciones</span>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary"
                  (click)="sendToConfigExamenProcess()"
                  style="border-radius: 10px"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Nuevo examen"
                >
                  <i class="fa-solid fa-plus" aria-hidden="true"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="tbody-custom">
            <tr
              *ngFor="
                let item of lstExams
                  | paginate
                    : {
                        totalItems: total_items,
                        itemsPerPage: per_page,
                        currentPage: current_page
                      }
              "
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ patient.name }} {{ patient.lastname }}</td>
              <td>Pendiente...</td>
              <td>{{ item.updated_at | date : "dd-MM-yyyy" }}</td>
              <td>
                <a
                  (click)="sendToDetailExamSubTasks(item.id, item.process_id)"
                  class="mr-3"
                  title="Detalle"
                  ><i
                    class="fa-sharp fa-solid fa-magnifying-glass btn-grid-detail"
                  ></i>
                </a>
                <a (click)="removeExam(item.id)" class="mr-3" title="Eliminar"
                  ><i class="fa-solid fa-trash-can-arrow-up btn-grid-delete"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-lg-12 col-xlg-12">
      <pagination-controls
        (pageChange)="changePageTable($event)"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-outline-danger"
          style="border-radius: 10px"
          data-dismiss="modal"
          (click)="sendToPreviousPage()"
        >
          Volver
        </button>
      </div>
    </div>
  </div>
</div>
