<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-color">
        Configuración general proceso pipeline
      </div>
      <div class="card-body">
        <form autocomplete="off" action="#" class="form-horizontal ">

          <div class="form-group">
            <label for="cc_paciente">CC Paciente</label>
            <div class="row">
              <div class="col-lg-9">
                <input type="text" class="form-control" id="cc_paciente" placeholder="Cédula paciente">
              </div>
              <div class="col-lg-3">
                <button class="btn btn-sm mt-1 btn-info" type="button ">BUSCAR</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="archivo_1">Archivo 1</label>
            <input type="file" class="form-control" id="archivo_1" lang="es">
            <input type="text" class="form-control mt-2" id="url_archivo_1" placeholder="Url FTP Archivo 1">
          </div>

          <div class="form-group">
            <label for="archivo_2">Archivo 2</label>
            <input type="file" class="form-control" id="archivo_2" lang="es">
            <input type="text" class="form-control mt-2" id="url_archivo_2" placeholder="Url FTP Archivo 2">
          </div>

          <div class="form-group">
            <label class="control-label text-right">Archivo 3</label>
            <select class="form-control custom-select">
              <option value="">Seleccionar archivo</option>
              <option value="">Archivo 1 V01</option>
            </select>

          </div>

        </form>

      </div>
    </div>
  </div>


