<div class="container-fluid cf-custom">
  <div class="row">
    <div class="col-lg-8 col-xlg-8">
      <h2>Examen: {{ detailsExam?.name }}</h2>
    </div>
    <div class="col-lg-4 col-xlg-4">
      <span class="state_red label_state_icon"></span>
      <span class="label_state">Pendiente</span>
      <span class="state_yellow label_state_icon"></span>
      <span class="label_state">En ejecución</span>
      <span class="state_green label_state_icon"></span>
      <span class="label_state">Finalizado</span>
    </div>
  </div>

  <div *ngFor="let task of detailsExam?.theProcess.tasks; index as i">
    <!-- Task -->
    <div class="row">
      <div class="col">
        <p>
          <button
            class="btn btn-secondary"
            type="button"
            data-toggle="collapse"
            [attr.data-target]="'#task_' + i"
            aria-expanded="false"
            [attr.aria-controls]="'task_' + i"
          >
            Tarea {{ i + 1 }}: {{ task.name }}
          </button>
        </p>
      </div>
    </div>
    <!-- End Task -->
    <!-- SubTask -->
    <div class="row">
      <div class="col">
        <div class="collapse" id="{{ 'task_' + i }}">
          <div *ngFor="let subtask of task.subTasks; index as j">
            <div class="row">
              <div class="col-lg-8 col-xlg-8">
                <span [ngClass]="subtask.state"></span>
                <strong>Subtarea {{ j + 1 }}: {{ subtask.name }}</strong>
                <button
                  type="button"
                  [disabled]="subtask.state === 'state_red'"
                  class="btn-custom-1 btn btn-outline-dark"
                  type="button"
                  class="btn-custom-1 btn btn-outline-dark"
                  (click)="
                    SendToConfigExecSubTaskExam(
                      task.name,
                      subtask.name,
                      subtask.id,
                      subtask.prevSubTexExam,
                      subtask?.lst_config_subtask_exec
                    )
                  "
                >
                  <i
                    class="fa fa-cog"
                    style="color: #000000"
                    aria-hidden="true"
                  ></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End SubTask -->
  </div>

  <div class="row">
    <div class="col">
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-outline-danger"
          style="border-radius: 10px"
          data-dismiss="modal"
          (click)="sendToPreviousPage()"
        >
          Volver
        </button>
      </div>
    </div>
  </div>

</div>
