<div class="table-responsive mt-3 animated fadeInLeftBig">

  <table class="table table-sm table-bordered table-striped">
    <thead class="thead-custom">
      <tr>
        <th scope="col">Identificador</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1001</td>
        <td scope="row">Crear usuarios</td>
        <td scope="row">Permite la creación de un nuevo usuario en el sistema</td>
        <td scope="row">
          <a href="#" class="mr-2" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
          <a href="#" class="mr-2" title="Eliminar"><i class="fa fa-times"></i></a>
          <a href="#" class="mr-2" title="Detalle"><i class="fa fa-table"></i></a>
        </td>
      </tr>
      <tr>
        <td scope="row">1002</td>
        <td scope="row">Editar usuarios</td>
        <td scope="row">Permite la edición de un usuario existente en el sistema</td>
        <td scope="row">
          <a href="#" class="mr-2" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
          <a href="#" class="mr-2" title="Eliminar"><i class="fa fa-times"></i></a>
          <a href="#" class="mr-2" title="Detalle"><i class="fa fa-table"></i></a>
        </td>
      </tr>
      <tr>
        <td scope="row">1003</td>
        <td scope="row">Eliminar usuarios</td>
        <td scope="row">Permite la eliminación lógica de un usuario en el sistema</td>
        <td scope="row">
          <a href="#" class="mr-2" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
          <a href="#" class="mr-2" title="Eliminar"><i class="fa fa-times"></i></a>
          <a href="#" class="mr-2" title="Detalle"><i class="fa fa-table"></i></a>
        </td>
      </tr>
      <tr>
        <td scope="row">2002</td>
        <td scope="row">Crear pipeline</td>
        <td scope="row">Permite la creación de un nuevo pipeline en el sistema</td>
        <td scope="row">
          <a href="#" class="mr-2" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
          <a href="#" class="mr-2" title="Eliminar"><i class="fa fa-times"></i></a>
          <a href="#" class="mr-2" title="Detalle"><i class="fa fa-table"></i></a>
        </td>
      </tr>
      <tr>
        <td scope="row">2003</td>
        <td scope="row">Ejecutar pipeline</td>
        <td scope="row">Permite la ejecución de un pipeline existente en el sistema</td>
        <td scope="row">
          <a href="#" class="mr-2" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
          <a href="#" class="mr-2" title="Eliminar"><i class="fa fa-times"></i></a>
          <a href="#" class="mr-2" title="Detalle"><i class="fa fa-table"></i></a>
        </td>
      </tr>
      <tr>
        <td scope="row">2004</td>
        <td scope="row">Visualizar resultados</td>
        <td scope="row">Permite la visualización de resultados de un prueba</td>
        <td scope="row">
          <a href="#" class="mr-2" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
          <a href="#" class="mr-2" title="Eliminar"><i class="fa fa-times"></i></a>
          <a href="#" class="mr-2" title="Detalle"><i class="fa fa-table"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
