<div class="table-responsive mt-3 animated fadeInLeftBig">

  <table class="table table-sm table-bordered table-striped">
      <thead class="thead-custom">
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Fecha</th>
              <th scope="col">Resultados</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td scope="row">FT221</td>
              <td scope="row">2023-02-12</td>
              <td scope="row">
                <button class="btn btn-success btn-sm mr-2" type="button ">Detalle</button>
              </td>
          </tr>
          <tr>
            <td scope="row">CA845</td>
            <td scope="row">2023-02-13</td>
            <td scope="row">
              <button class="btn btn-success btn-sm mr-2" type="button ">Detalle</button>
            </td>
        </tr>
      </tbody>
  </table>
</div>
