<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xlg-12">
      <div class="table-responsive mt-3 animated fadeInLeftBig">
        <table class="table table-sm table-bordered table-striped">
          <thead class="thead-custom">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre Apellidos</th>
              <th scope="col">NickName</th>
              <th scope="col">Email</th>
              <th scope="col">Rol</th>
              <th scope="col">
                <span class="span-title-actions">Acciones</span>
              </th>
            </tr>
          </thead>
          <tbody class="tbody-custom">
            <tr
              *ngFor="
                let item of lstUsers
                  | paginate
                    : {
                        totalItems: total_items,
                        itemsPerPage: per_page,
                        currentPage: current_page
                      }
              "
            >
              <td scope="row">{{ item.id }}</td>
              <td scope="row">{{ item.name }}</td>
              <td scope="row">{{ item.nick_name }}</td>
              <td scope="row">{{ item.email }}</td>
              <td scope="row">Administrador</td>
              <td scope="row">
                <a (click)="modalUserEdit(item.id)" class="mr-2" title="Editar"
                  ><i class="fa fa-pencil-square-o"></i
                ></a>
                <a
                  (click)="removeUser(item.id)"
                  class="mr-2"
                  title="Eliminar"
                  ><i class="fa fa-times"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-lg-12 col-xlg-12">
      <pagination-controls
        (pageChange)="changePageTable($event)"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</div>

<!-- Modal editar usuario-->
<div
  class="modal animated fadeInDown"
  id="UserEdit"
  tabindex="3"
  role="dialog"
  aria-labelledby="userEditLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="userEditLabel" style="font-weight: 600">
          Editar rol de usuario
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="modalClose()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body parent">
        <div class="row">
          <div class="col">
            <form [formGroup]="forms">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input
                  id="name"
                  type="text"
                  class="form-control"
                  formControlName="name"
                />
              </div>

              <div class="form-group">
                <label for="nick_name">NickName</label>
                <input
                  id="nick_name"
                  type="text"
                  class="form-control"
                  formControlName="nick_name"
                />
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input
                  id="email"
                  type="email"
                  class="form-control"
                  formControlName="email"
                />                
              </div>
              <div class="form-group">
                <label for="rol_id">Rol de usuario</label>
                <select id="rol_id" class="form-control custom-select" formControlName="rol_id">                                                  
                  <option [value]= "-1" >Seleccione Rol</option>
                  <option *ngFor="let item of lstRoles" [value]="item.id">{{item.name}}</option>                                              
                </select>
              </div>              
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          [disabled]="!forms.valid"
          class="btn btn-outline-success"
          style="border-radius: 10px"
          (click)="editUser()"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          style="border-radius: 10px"
          data-dismiss="modal"
          (click)="modalClose()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

