<div class="table-responsive mt-3 animated fadeInLeftBig">

  <table class="table table-sm table-bordered table-striped">
      <thead class="thead-custom">
          <tr>
              <th scope="col">Cédula</th>
              <th scope="col">Nombre Apellidos</th>
              <th scope="col">Pruebas</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td scope="row">106531982</td>
              <td scope="row">Gerardo Andres Bedoya Ospina</td>
              <td scope="row">
                <button class="btn btn-success btn-sm mr-2" type="button ">Detalle</button>
              </td>
          </tr>
          <tr>
            <td scope="row">106331888</td>
            <td scope="row">Fabia Antonio Vargas Gomez</td>
            <td scope="row">
              <button class="btn btn-success btn-sm mr-2" type="button ">Detalle</button>
            </td>
        </tr>
      </tbody>
  </table>
</div>
