<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xlg-12 text-center">
      <div class="table-responsive mt-3 animated fadeInLeftBig">
        <table class="table table-sm table-bordered table-striped">
          <thead class="thead-custom">
            <tr>
              <th scope="col">Identificador</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo</th>
              <th scope="col">Opcional</th>
              <th scope="col">Por defecto</th>
              <th scope="col">Modificado</th>
              <th scope="col">
                <span class="span-title-actions">Acciones</span>
                <button type="button" class="btn btn-sm btn-outline-primary" (click)="modalAddParameter()"
                  style="border-radius: 10px" data-toggle="tooltip" data-placement="top" title="Nuevo Parámetro">
                  <i class="fa fa-plus fa-4 btn-grid-plus" aria-hidden="true"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="tbody-custom">
            <tr *ngFor="
                let item of lstParameters
                  | paginate
                    : {
                        totalItems: total_items,
                        itemsPerPage: per_page,
                        currentPage: current_page
                      }
              ">
              <td scope="row">{{ item.id }}</td>
              <td scope="row">{{ item.name }}</td>
              <td scope="row">{{ item.type }}</td>
              <td scope="row">{{(item.optional == 0) ? 'NO' : 'SI'}}</td>
              <td scope="row">{{ item.default_value }}</td>
              <td scope="row">{{ item.updated_at | date : "dd-MM-yyyy" }}</td>
              <td scope="row">
                <a (click)="modalEditParameter(item.id)" class="mr-3" title="Editar"><i
                    class="fa fa-pencil-square-o btn-grid-edit"></i></a>
                <a (click)="removeParameter(item.id)" class="mr-3" title="Eliminar"><i class="fa fa-times btn-grid-delete"></i></a>
                <a (click)="modalDetailsParameter(item.id)" class="mr-3" title="Detalle"><i class="fa fa-table btn-grid-detail"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-lg-12 col-xlg-12">
      <pagination-controls (pageChange)="changePageTable($event)" previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
    </div>
  </div>
</div>

<!-- Modal nuevo parameter-->
<div class="modal animated fadeInDown" id="NewParameter" tabindex="3" role="dialog" aria-labelledby="paramInsertLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="paramInsertLabel" style="font-weight: 600">
          Parámetro
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body parent">
        <div class="row">
          <div class="col">
            <form [formGroup]="forms">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" 
                  [class.is-invalid]="nameNoValido" formControlName="name"
                  placeholder="Ingrese el nombre del parámetro" />
              </div>
              <div class="form-group">
                <label for="type">Tipo</label>
                <select class="form-control custom-select" id="type" 
                  [class.is-invalid]="typeNoValido" formControlName="type">
                  <option value="">Seleccione tipo</option>
                  <option value="{{ item}}" *ngFor="let item of lstTypes">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="optional">Opcional</label>
                <select class="form-control custom-select" id="optional"
                  [class.is-invalid]="optionalNoValido" formControlName="optional">
                  <option value="">Seleccione Opcional</option>
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="form-group">
                <label for="default_value">Por defecto</label>
                <input type="text" class="form-control" id="default_value"
                  formControlName="default_value" placeholder="Ingrese el valor por defecto" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" *ngIf="!edit_state" [disabled]="!forms.valid" class="btn btn-outline-success" style="border-radius: 10px"
          (click)="newParameter()">
          Guardar
        </button>
        <button type="button" *ngIf="edit_state" [disabled]="!forms.valid" class="btn btn-outline-success" style="border-radius: 10px"
          (click)="editParameter()">
          Editar
        </button>
        <button type="button" class="btn btn-outline-danger" style="border-radius: 10px" data-dismiss="modal"
          (click)="modalClose()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal detalle-->
<div class="modal animated fadeInDown" id="ParameterDetails" tabindex="3" role="dialog"
  aria-labelledby="ParameterDetailsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="ParameterDetailsLabel" style="font-weight: 600">
          Detalle Parámetro
        </h4>
        <button type="button" class="close" data-dismiss="modal" (click)="modalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body parent">
        <div class="row">
          <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
              <div class="card-body">

                <div class="row">
                  <div class="col">
                    <h3><strong>Información de parámetro</strong></h3>
                  </div>
                </div>

                <hr />

                <div class="row">
                  <div class="col">
                    <p>
                      <span class="font-weight-bold"> Nombre </span>
                      {{ param.name }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p>
                      <span class="font-weight-bold"> Tipo </span>
                      {{ param.type }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p>
                      <span class="font-weight-bold"> Opcional </span>
                      {{ (param.optional == '0' ? 'NO' : 'SI') }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p>
                      <span class="font-weight-bold"> Por defecto </span>
                      {{ param.default_value }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-danger" style="border-radius: 10px" data-dismiss="modal"
          (click)="modalClose()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>