<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-xlg-12 text-center ">
        <div class="table-responsive mt-3 animated fadeInLeftBig">
  
          <table class="table table-sm table-bordered table-striped">
            <thead class="thead-custom">
              <tr>
                <th scope="col">Identificador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Sub-Tarea</th>
                <th scope="col">Opcional</th>
                <th scope="col">Por defecto</th>
                <th scope="col">Modificado</th>
                <th scope="col">
                  <span class="span-title-actions">Acciones</span>
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="modalParametersConfirmation()" style="border-radius: 10px" data-toggle="tooltip" data-placement="top" title="Nuevo rol">
                    <i class="fa fa-plus fa-4 btn-grid-plus" aria-hidden="true"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lstParameters">
                <td scope="row">{{item.id}}</td>
                <td scope="row">{{item.name}}</td>
                <td scope="row">{{item.type}}</td>
                <td scope="row">ST-T-001</td>
                <td scope="row">No</td>
                <td scope="row">{{item.default_value}}</td>
                <td scope="row">{{item.updated_at}}</td>
                <td scope="row">
                  <a href="#" class="mr-2" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
                  <a href="#" class="mr-2" title="Eliminar"><i class="fa fa-times"></i></a>
                  <a href="#" class="mr-2" title="Detalle"><i class="fa fa-table"></i></a>
                </td>
              </tr>
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal nuevo task-->
  <div class="modal animated fadeInDown" id="ParametersNew" tabindex="3" role="dialog" aria-labelledby="subtaskInsertLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="subtaskInsertLabel" style="font-weight: 600;">Editar Parámetro</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body parent" >
          <div class="row">
          <div class="col">
            <form>
              <div class="form-group">
                <label for="name_task">Nombre</label>
                <input type="text" class="form-control" id="name_task"  placeholder="Ingrese el nombre de la sub tarea">
              </div>
  
            <div class="form-group">
                <label for="select_type">Tipo</label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="select_type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seleccione tipo
                    </button>
                    <div class="dropdown-menu" aria-labelledby="select_type">
                        <a class="dropdown-item active">Integer</a>
                        <a class="dropdown-item" >Double</a>
                    </div>
                    </div>                
            </div>
              <div class="form-group">
                <label for="select_task">Sub-Tarea</label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="select_task" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Seleccione tarea
                    </button>
                    <div class="dropdown-menu" aria-labelledby="select_task">
                      <a class="dropdown-item" href="#">ST-T-001</a>
                      <a class="dropdown-item" href="#">ST-T2-01 (Editado)</a>
                    </div>
                  </div>                
              </div>

              <div class="form-group">
                <label for="select_optional">Opcional</label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="select_optional" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Seleccione opcional
                    </button>
                    <div class="dropdown-menu" aria-labelledby="select_optional">
                      <a class="dropdown-item" href="#">Si</a>
                      <a class="dropdown-item" href="#">No</a>
                    </div>
                  </div>                
              </div>

              <div class="form-group">
                <label for="by_default">Por defecto</label>
                <input type="text" class="form-control" id="by_default"  placeholder="Ingrese el valor por defecto">
              </div>

            </form>
          </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-outline-success" style="border-radius: 10px" data-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-outline-danger" style="border-radius: 10px" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal confirmar eliminar-->
  <div class="modal animated fadeInDown" id="ParametersDelete" tabindex="3" role="dialog" aria-labelledby="taskDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="taskDeleteLabel" style="font-weight: 600;">Eliminar sub-tarea</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body parent" >
          <div class="row">
          <div class="col">
            <form>
              <div class="form-group">
                <span>
                  ¿Confirma que desea eliminar el parametro "PARAM_1" del sistema?
                </span>
              </div>
  
            </form>
          </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-outline-success" style="border-radius: 10px" data-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-outline-danger" style="border-radius: 10px" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  