<div class="container-fluid cf-custom">

  <!--Panel subtarea -->
  <div class="row">
    <div class="col">
      <div class="row justify-content-end">
        <div class="col-lg-4 col-xlg-4">
          <span class="state_red label_state_icon"></span><span class="label_state">Pendiente</span><span
            class="state_yellow label_state_icon"></span><span class="label_state">En ejecución</span><span
            class="state_green label_state_icon"></span><span class="label_state">Finalizado</span>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-color">
          <div class="title-panel-subtask_exam">{{ subTaskDetail.task?.name }}</div>
          <div class="btn-back-panel-title">
            <a title="Volver" (click)="previousPage()">
              <i class="fa-solid fa-circle-chevron-left"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="title-custom-te">
                    <h1>
                      {{ subTaskDetail.name + ' (Tarea: '+
                      subTaskDetail.task?.order+', Sub-tarea:'+
                      subTaskDetail.order+')'
                      }}
                    </h1>
                  </div>
                </div>
              </div>
              <!-- Tab current and history executes -->
              <div class="row">
                <div class="col">
                  <div class="tab-container">
                    <ul class="tabs">
                      <a *ngFor="let exec of lstExecSubTaskExam; index as i" [attr.src]="'tabf0-' + i"
                        [ngClass]="i == 0 ? 'active' : ''">
                        <div>
                          <span [ngClass]="
                              exec.finished_at ? 'state_green' : 'state_yellow'
                            "></span>
                          {{
                          exec.id
                          ? "Ejecución: (" + (i + 1) + ")"
                          : lstExecSubTaskExam.length - 1 == i
                          ? "(+)"
                          : i + 1
                          }}
                        </div>
                      </a>
                    </ul>
                    <div class="tab-content">
                      <div *ngFor="let exec of lstExecSubTaskExam; index as i" id="{{ 'tabf0-' + i }}">
                        <!-- Content div -->
                        <!-- Fields previous subtask_exam and description-->
                        <div class="row">
                          <div class="col-4">
                            <select id="{{ 'id_subtask_prev_' + i }}"
                              *ngIf="exec.id < 0 && lst_objs_prev_subtask_exam.length > 0"
                              class="form-control custom-select" (change)="changeSelectIdSubTaskExamPrev($event)">
                              <option value="">Seleccione subTarea</option>
                              <option value="{{ item.id }}" *ngFor="let item of lst_objs_prev_subtask_exam">
                                {{ item.name }}
                              </option>
                            </select>
                            <input id="{{ 'subtask_exam_prev_name' + exec.id }}" type="text" *ngIf="exec.id > 0"
                              class="form-control" value="{{ exec.subTaskExamPrevName }}" disabled />
                          </div>
                          <div class="col-8">
                            <textarea id="{{
                                'text_desc_subtask_exam_prev_' + exec.id
                              }}" *ngIf="exec.id > 0" class="form-control" placeholder="Descripción sub-tarea previa"
                              rows="2" disabled>{{ exec.subTaskExamPrevDesc }}</textarea>
                            <textarea id="text_desc_subtask_exam_prev" *ngIf="exec.id < 0" class="form-control"
                              placeholder="Descripción sub-tarea previa" rows="2" disabled></textarea>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <textarea id="{{ 'description_' + i }}" [disabled]="exec.id > 0" class="form-control"
                              placeholder="Descripción" rows="2">{{ exec.description }}</textarea>
                          </div>
                        </div>
                        <!-- End fields previous subtask_exam and description-->
                        <!-- Section parameters-->
                        <div class="row">
                          <div class="col">
                            <div class="title-custom-te">
                              <h1>Pámetros:</h1>
                            </div>
                          </div>
                        </div>
                        <!-- Table parameters -->
                        <div class="row">
                          <div class="col">
                            <div class="table-responsive animated fadeInLeftBig">
                              <table class="table table-sm table-bordered" style="background: rgb(224, 231, 238)">
                                <thead class="thead-custom">
                                  <tr>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Tipo</th>
                                    <th class="text-center">Opcional</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center"></th>
                                  </tr>
                                </thead>
                                <tbody class="tbody-custom">
                                  <tr *ngFor="let item of exec?.data_sub_task_exam" >
                                    <td class="text-center">
                                      {{ item.datum.param?.name }}
                                    </td>
                                    <td class="text-center">
                                      {{ item.datum.param?.type }}
                                    </td>
                                    <td class="text-center">
                                      {{
                                      item.datum.param?.optional === 1
                                      ? "Si"
                                      : "No"
                                      }}
                                    </td>
                                    <td class="text-center">
                                      <div class="form-outline">
                                        <input id="{{
                                            'param_' +
                                              exec.id +
                                              '_' +
                                              item.datum.param?.id
                                          }}" type="{{ item.datum?.type_tag }}" value="{{ item.datum?.value }}"
                                          [disabled]="exec.id >0" />
                                        <span class="icon-info-custome fa fas fa-info error-icon-custom d-none"></span>
                                      </div>
                                    </td>
                                    <td></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="separator-panel-exec_subtask"></div>
                          </div>
                        </div>
                        <!-- End table parameters -->
                        <!-- Panel buttons-->
                        <div class="row">
                          <div class="col">
                            <div class="modal-footer justify-content-center">
                              <button type="button" class="btn btn-success ml-2" style="border-radius: 10px"
                                *ngIf="exec.id < 0 && lstExecSubTaskExam.length == 1"
                                (click)="startProcess(exec.exam_id, exec.subtask_id)">
                                <span class="fa fa-reply"></span>
                                Iniciar
                              </button>
                              <button type="button" class="btn btn-success ml-2" style="border-radius: 10px"
                                *ngIf="exec.id < 0 && !exec.finished_at && lstExecSubTaskExam.length > 1"
                                (click)="restartProcess(exec.exam_id, exec.subtask_id)">
                                <span class="fa fa-reply"></span>
                                Reiniciar
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- End panel buttons-->
                        <!-- End section parameters-->

                        <!-- Panel exams report -->
                        <div class="row" *ngIf="exec.finished_at">
                          <div class="col">
                            <h5 class="card-title">Resultados</h5>
                            <div id="{{'panel-results_'+exec.id}}"></div>
                          </div>
                        </div>
                        <!--End panel exam report-->
                        <!-- End content div -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End tab current and history executes -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
